@keyframes reveal {
    0% {
      opacity: 0;
      transform: translate(0,100%);
    }
    100% {
      opacity: 1;
      transform: translate(0,0);
    }
  }
  
::-webkit-scrollbar {
    display: none;
}
  
body{
    font-family: 'Fredoka', sans-serif;
    font-size: large;
}

.detailPage{
    margin-top: 5%;
}
  
.parallax {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('\img/Spaceship.png');
    background-repeat: no-repeat;
    background-position: center;
    background-position: 50% 50%;
}
   
.container{

    /* animation: transitionIn 0.7s; */
    max-width: 100%;
    width: 100%;
}

.nav {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 27%; 
    height: auto; 
    margin: auto;
    z-index: 5;
    margin: auto;
    
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
    
.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    flex-basis: 100%; 

    background: #404040;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2rem;
    border: 2px solid #404040;
}
  
.nav ul li {
    height: auto;
}
  
.nav ul li:first-child a {
    margin-left: 1rem;
}
  
.nav ul li:last-child a {
    margin-right: 1rem;
}
  
.nav ul a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    border: 2px solid #FC7C7C;
    border-radius: 2rem;
    padding: 0rem 1rem 0rem 1rem;
    transition: 0.6s;
    font-size: 1.5vw;
}
  
.nav ul a:hover{ 
    color: #FC7C7C;
}
  
.active {
    background-color: #ffffff;
}
  
.active li {
    color: #404040;
    transition: 0.6s;
}
  
.active li:hover{
    color: #FC7C7C;
}

.accordion-button{
    font-size: x-large;
    font-weight: bold;
}

.accordion-button:not(.collapsed) {
    color: #404040;
    background-color:  #FC7C7C;
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.accordion-button {
    font-size: x-large;
    font-weight: bold;
    color: #FC7C7C;
    transition: 0.5s;
}

#imgRetour{
    margin-top: 1%;
    margin-left: 1%;
    transition: 0.5s;
}

#imgRetour:hover{
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
}


/*card */

.card {
    background-color: #fff;
    border: 1px solid #dbdce0;
    border-radius: 2rem;
    max-width: 320px;
    width: 100%;
    margin: 2rem auto;
    transform: translateY(0);
    transition: transform 0.5s;
    font-size: 1rem;
  }
  
  .card:hover,.card:focus {
    transform: translateY(-5px);
    cursor: pointer;
  }
  
  .card:hover::after,.card:focus::after {
    box-shadow: 16px 16px 0 rgb(32 33 37 / 6%);
  }
  
  .card-body{
    border-radius: 0 5px 5px;
  }
  
  
  
  /*Hover card*/
  
  .test{
    border-radius: 2rem; 
    box-shadow: 8px 8px 8px #2C2C2C;
  }
  
  .test:hover .overlay{
    opacity: 1;
    transform: scale(1);
  }
  
  .overlay{
    position: absolute;
    background-color: rgba(44, 44, 44, 0.7);
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition:  0.9s ease 0s;
    border-radius: 2rem;
  }
  
  .overlay span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: #fff;
  }
  
  .card-title{
    text-align: center;
    color: #fff;
  }
  
  /*End hover card*/
  
  a {
    text-decoration:none;
    color: white;
  }
  
  a:hover{
    text-decoration:none;
    color: rgb(44, 44, 44);
  }
  
  .bouton{
    background-color: #404040; 
    border-style: ridge;
    border-width: 1px;
    border-color: #404040;
    color: #FC7C7C;
    transition: 0.6s;
    border-radius: 30%;
  }
  
  .bouton:hover{
    background-color: #FC7C7C; 
    border-color: #FC7C7C;
    border-width: 1px;
    border-style: ridge;
    color: #404040;
  }
  
  .car-img-top{
    border-radius: 2rem; 
    box-shadow: 8px 8px 8px #2C2C2C;
    width: 100%;
    height: 100%;
    max-height: 502px;
  }


h1{
    font-size: 4rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
    color: #FC7C7C;
    font-family: 'Give You Glory', cursive;
}

.detailImg{
    max-width: 800px;
    border-radius: 1%;
}

.detailPresentation{
    font-size: x-large;
    text-align: center;
}

.detailBouton{
    background-color: #404040; 
    border-style: ridge;
    border-width: 1px;
    border-color: #404040;
    color: #FC7C7C;
    transition: 0.6s;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    min-width: 150px;
}
  
.detailBouton:hover{
    background-color: #FC7C7C; 
    border-color: #FC7C7C;
    border-width: 1px;
    border-style: ridge;
    color: #404040;
}

.accordion-button:focus {
  z-index: 3;
  border-color: #FC7C7C;
  outline: 0;
  box-shadow: 0 0 0 0.15rem rgba(252, 124, 124, 0.7);
}

.accordion-button:not(.collapsed) {
  color: #ffffff;
  background-color: #FC7C7C;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.accordion-item{
  font-size: 200px;
}

.accordion-button{
  font-size: 2vw;
}