@keyframes reveal {
  0% {
    opacity: 0;
    transform: translate(0,100%);
  }
  100% {
    opacity: 1;
    transform: translate(0,0);
  }
}

@keyframes zoom-out {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0, 0);
    opacity: 0;
    visibility: hidden;
  }
}


/* start */

:root{
	--main-circle-size: 12px;
	--second-circle-size: 40px;
  --transition-time: 0.5s;
  --color: #FC7C7C;
}

.circle-main{
	position: absolute;
	width: var(--main-circle-size);
	height: var(--main-circle-size);
	margin-top: calc(-1 * var(--main-circle-size) / 2);
	margin-left: calc(-1 * var(--main-circle-size) / 2);
	border-radius: 50%;
	transform: translate(-50%, -50%);
	background: white;
	pointer-events: none;
	top: 0;
	left: 0;
	transition: opacity .3s;
	mix-blend-mode: difference;
	z-index: 2;
}

.circle-hide{
	opacity: 0;
}

html{
  width: 100%;
  height: 100%;
  cursor: none; 
}

::-webkit-scrollbar {
  display: none;
}

body{
  font-family: 'Fredoka', sans-serif;
  height: 100%;
  margin: 0 0 0 0 !important;
  width: 100%;
}

.loader{
  display: flex;
  justify-content: center;
  align-items: center;
}

.zoomOut{
  animation: zoom-out 1.5s ease-out;
}

.ComingSoon{
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('\img/Spaceship.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-position: 50% 50%;
}
  
#backgroundLoader{
  background-color: #404040;
}

.backgroundBody{
  background-color: #fff;
  height: 100%;
  transition: .5s;
}

.backgroundBody-change{
  background-color: #404040;
}

.imgProfil {
  position: absolute;
  left: 1%;
  top: 1%;
  width: 7%;
  height: auto;
  border-radius: 999px 999px 999px 999px;
  background: #FC7C7C;
  transform: scale(var(--f));
  transition: .5s;
}

.imgProfil:hover {
  --f: 1.1;
}

.zoom{
  transition: .5s;
}

.zoom:hover{
  scale: 1.1;
}

.divProfil{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.imgProfil2{
  width: 20%;
  height: auto;
  border-radius: 999px 999px 999px 999px;
  background: #FC7C7C;
  transform: scale(var(--f));
  transition: .5s;
}

.imgProfil2:hover {
  --f: 1.1;
}

.container{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.divTotale{
  /* border: solid 2px red; */
  display: flex;
  height: 80%;
  width: 80%;
  flex-direction: column;
  align-items:center;
  margin: auto;
  justify-content: space-around;
  row-gap: 6vh;
}

.divHeader{
  /* border: solid 2px yellow; */
  display: flex;
}

.divContent {
  /* border: solid 2px blue;  */
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: flex-start;
  width: fit-content;
  height: 80%;
  /* justify-content: space-around; */
}

.divContentHome {
  /* border: solid 2px blue; */
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: fit-content;
  flex-wrap: wrap;
  height: 80%;
  gap: -10px;
}

.divContact {
  /* border: solid 2px green; */
  display: flex;
  margin: auto;
  width: fit-content;
  flex-wrap: wrap;
  align-content: stretch;
  height: fit-content;
  align-items: flex-end;
  gap: 1.5rem;
  justify-content: center;
}

.ContentTitlesAbout{
  /* border: solid 2px green; */
  display: flex;
  align-content: flex-start;
  width: fit-content;
  flex-direction: column;
}

.txtComingSoon{
  position: absolute;
  z-index: 9999; 
  color: white; 
  text-align: center; 
  font-family: 'Give You Glory', cursed;
  left: 38%;
  top: 20%;
}

.ContentPAbout{
  /* border: solid 2px red; */
  font-style: normal;
  font-weight: 300;
  font-size: 1.25vw;
  color:#404040;
  overflow: hidden;
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: #404040;
  box-shadow: 0px 4px 4px rgba(64, 64, 64, 0.25);
  border-radius: 2rem;
  border: 2px solid #404040;
  font-size: 1.2rem;
  font-weight: bold;
  transition: .5s;
}

.nav-change{
  background: #fff;
  border: 2px solid #fff;
}
  
.nav .ul {
  margin: 0;
  padding: 0;
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  background: #404040;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2rem;
  border: 2px solid #404040;
}

.nav .ul-change{
  background: #fff;
  border: 2px solid #fff;
}

.nav .ul .li {
  height: auto;
}

.nav .ul .li:first-child a {
  margin-left: 1rem;
}

.nav .ul .li:last-child a {
  margin-right: 1rem;
}

.nav .ul a {
  text-decoration: none;
  color: #ffffff;
  border: 2px solid #FC7C7C;
  border-radius: 2rem;
  padding: 0rem 1rem 0rem 1rem;
  transition: 0.6s;
}

.nav .ul a:hover{ 
  color: #FC7C7C;
}

.active {
  background-color: #FC7C7C;
}

.active .li {
  color: #404040;
  transition: 0.6s;
}

.active .li-change {
  color: #fff;
}

.active .li:hover{
  color: #ffffff;
}

.active .li-change:hover{
  color: #404040;
}

h1{
  margin: 0;
  font-size: 3.3vw;
  overflow: hidden;
  color: #404040;
}

.divTitle3 > h1{
  margin: 0;
  font-size: 3.3vw;
  overflow: hidden;
  color: #fff;
}

.h1-change{
  color: #fff;
}

h2{
  margin: 0;
  font-size: 1.6vw;
  overflow: hidden;
  color: #404040;
}

.h2-change{
  color: #fff;
}

h1 .reveal {
  display: block;
  animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1);
}

h2 .reveal {
  display: block;
  opacity: 0;
  animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1)0.5s;
  animation-fill-mode: forwards;
}

.divTitle1{
  /* border: solid 2px red; */
  color: #404040;
  width: fit-content;
  font-family: 'Give You Glory', cursed;
}

.divTitle3{
  /* border: solid 2px red; */
  color: #fff;
  width: fit-content;
  font-family: 'Give You Glory', cursed;
}

.divTitle2{
  color: #FC7C7C;
  font-family: 'Fredoka';
  font-size: 5.3vw;
}

p .reveal {
  display: block;
  opacity: 0;
  animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1)1s;
  animation-fill-mode: forwards;
}

.title1{
  color: #FC7C7C;
  font-family: 'Give You Glory', cursed;
}

#imgCg{
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-50%, -50%);
  width: 20%;
  height: auto;
}

#imgScience{
  position: absolute;
  top: 20%;
  left: 90%;
  transform: translate(-50%, -50%);
  width: 10%;
  height: auto;
}

.imgContact{
  max-width: 100px;
  transition: 0.5s;
  width: 100%;
  height: auto;
}

.imgContact:hover{
  max-width: 100px;
  scale: 1.2;
}

.bold{
  font-weight: bold;
}


/*card */

.card {
  background-color: #fff;
  border: 1px solid #dbdce0;
  border-radius: 2rem;
  max-width: 320px;
  min-width: 320px;
  max-height: 318px;
  width: 100%;
  margin: 2rem auto;
  transform: translateY(0);
  transition: transform 0.5s;
  font-size: 1rem;
}

.card:hover,.card:focus {
  transform: translateY(-5px);
  cursor: pointer;
}

.card:hover::after,.card:focus::after {
  box-shadow: 16px 16px 0 rgb(32 33 37 / 6%);
}

.card-body{
  border-radius: 0 5px 5px;
}



/*Hover card*/

.test{
  border-radius: 2rem; 
  box-shadow: 8px 8px 8px #2C2C2C;
}

.test:hover .overlay{
  opacity: 1;
  transform: scale(1);
}

.overlay{
  position: absolute;
  background-color: rgba(44, 44, 44, 0.7);
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  transition:  0.9s ease 0s;
  border-radius: 2rem;
}

.overlay span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: #fff;
}

.card-title{
  text-align: center;
  color: #fff;
}

/*End hover card*/

a {
  text-decoration:none;
  color: white;
}

a:hover{
  text-decoration:none;
  color: rgb(44, 44, 44);
}

.bouton{
  background-color: #404040; 
  border-style: ridge;
  border-width: 1px;
  border-color: #404040;
  color: #FC7C7C;
  transition: 0.6s;
  border-radius: 30%;
}

.bouton:hover{
  background-color: #FC7C7C; 
  border-color: #FC7C7C;
  border-width: 1px;
  border-style: ridge;
  color: #404040;
}

.car-img-top{
  min-height: 205px;
  max-height: 205px;
  border-radius: 2rem; 
  box-shadow: 8px 8px 8px #2C2C2C;
}

p{
  color: #404040;
}

.p-change{
  color: #fff !important;
}

#imgRetour{
  margin-top: 1%;
  margin-left: 1%;
  transition: 0.5s;
}

#imgRetour:hover{
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}

.divImg{
  /* border: solid 2px green; */
  display: flex;
  justify-content: center;
  width: 50%;
} 

.divImgTitle{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.divTitle > .title1{
  /* border: solid 2px green; */
  font-size: 6vw;
  font-family: 'Fredoka', sans-serif;
  font-weight: bold;
}

.detailImg{
  max-width: 90%;
  border-radius: 1%;
}

.divContentDetail{
  /* border: solid 2px red; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0vw 5vw 0vw 5vw;
}

.divButton{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
}

.divImgButtons{
  /* border: solid 2px blue; */
  display: flex;
  justify-content: space-around;
}

.divButtons{
  /* border: solid 2px yellow; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: fit-content;
  align-items: center;
  align-content: center;
  gap: 20px;
}

.detailBouton{
  display: flex;
  justify-content: center;
  align-items: center;
  width:calc(50% - 12px);
  height:calc(35% - 12px);

  background-color: #404040; 
  border-style: ridge;
  border-width: 1px;
  border-color: #404040;
  color: #FC7C7C;
  transition: 0.6s;
  border-radius: 10px;
  box-shadow: 2px 5px 5px #404040;
}

.detailBouton:hover{
  background-color: #FC7C7C; 
  border-color: #FC7C7C;
  border-width: 1px;
  border-style: ridge;
  scale: 1.08;
}

.detailBouton-change{
  background-color: #fff; 
  border-color: #fff;
}

.detailBouton-change:hover{
  background-color: #FC7C7C; 
  border-color: #FC7C7C;
}

.detailPresentation{
  font-size: 1.4vw;
  text-align: center;
}

.imgResponsive{
  position: absolute;
  width: 5%;
  height: auto;
  transition: .5s;
}

#close{
  left: 1%;
  top: 1%;
  width: 5%;
}

.imgResponsive:hover {
  scale: 1.1;
}

#imgAdn{
  left: 25%;
  top: 10%;
}

#imgChimie{
  left: 47%;
  top: 5%;
}

#imgArbre{
  left: 87%;
  top: 15%;
}

#imgNouilles{
  left: 70%;
  top: 40%;
}

#imgNas{
  left: 75%;
  top: 80%;
}

#imgFusee{
  left: 40%;
  top: 85%;
}

#imgSinge{
  left: 20%;
  top: 70%;
}

#imgManette{
  left: 10%;
  top: 45%;
}

#imgDessin{
  left: 15%;
  top: 25%;
}

.pResponsive{
  font-size: 2vw;
  font-weight: bold;
  position: absolute;
  background-color: #FC7C7C;
  border-radius: 50px;
  width: fit-content;
  height: fit-content;
  padding: 10px 15px 10px 15px;
  color: #fff;
  transition: .5s;
}

.pResponsive:hover{
  scale: 1.1;
  color: #404040;
  box-shadow: 2px 5px 5px #404040;
}

#Prenom{
  left: 30%;
  top: 18%;
}

#Age{
  left: 60%;
  top: 20%;
}

#BTS{
  left: 65%;
  top: 55%;
}

#Smiling{
  left: 30%;
  top: 65%;
}

#French{
  left: 20%;
  top: 45%;
}

#MyClockDisplay{
  font-family: 'Fredoka', sans-serif;
  background-color: #FC7C7C;
  border-radius: 10px;
  color: #ffffff;
  padding: 4px 4px 4px 4px;
  transition: .5s;
  width: 6em;
}

#MyClockDisplay:hover{
  scale: 1.1;
  color: #404040;
}

.divClockSwitch{
  position: absolute;
  right: 1%;
  top: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

i{
  background-color: #404040;
  padding: 4px 4px 4px 4px;
  border-radius: 999px;
  color: #fff;
  transition: .5s;
  cursor: pointer;
}

i:hover{
  scale: 1.1;
}

.i-change{
  background-color: #fff;
  color: #404040;
}

.pProject{
  color: #FC7C7C;
}

.divContentProjects{
  /* border: solid 2px green; */
  display: flex;
  margin: auto;
  height: 90%;
  width: fit-content;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.detailProject{
  position: relative;

  /* border: solid 2px red; */

  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;

  background-color: #404040; 
  border-style: ridge;
  border-width: 1px;
  border-color: #404040;
  color: #FC7C7C;
  transition: 0.6s;
  border-radius: 10px;
  box-shadow: 2px 5px 5px #404040;

  padding: 35px 40px 30px 40px;
  transition: .5s;
}

.detailProject:hover{
  background-color: #FC7C7C; 
  border-color: #FC7C7C;
  border-width: 1px;
  border-style: ridge;
  scale: 1.08;
}

.detailProject-change{
  background-color: #fff; 
  border-color: #fff;
}

.detailProject-change:hover{
  background-color: #FC7C7C; 
  border-color: #FC7C7C;
}

.detailProject > a > .titleProject{
  position: absolute;
  top: 1%;
  left: 3%;
  font-weight: bold;
  color: #FC7C7C;
  transition: .5s;
  font-size: 1.3em;
  font-family: 'Give You Glory', cursed;

}

.detailProject > a > img{
  transition: .5s;
}

.detailProject:hover > a > img{
  scale: 1.08;
}

.detailProject:hover > a > .titleProject{
  color: white;
  font-weight: bold;
  scale: 1.08;
}

.detailBouton > a > img{
  transition: .5s;
}

.detailBouton:hover > a > img{
  scale: 1.1;
}

.divContentNA{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-size: 5vw;
}

.detailProject > a > .tags {
  position: absolute;
  display: flex;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
}

.detailProject > a > .tags > .tag {
  font-size: 0.9em;
  background: rgba(255,255,255,0.5);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.2em;
  line-height: 1.5em;
  font-family: 'Fredoka', sans-serif;
  color: #404040;
  font-weight: bold;
  transition: .5s;
}

.detailProject > a > .tags > .tag-change {
  background: rgba(64,64,64,0.5);
  color: #fff;
}

.divContentCV{
  border: solid 2px red;
  width: fit-content;
  height: fit-content;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.divLanguages{
  border: solid 2px green;
  display: flex;
  justify-content: flex-end;
}

.divExperiences{
  border: solid 2px yellow;
  background-color: #404040;
  border-radius: 50px;
  padding: 10px 20px 30px 20px;
}

.divHeaderExperiences{
  position: relative;
  display: flex;
  justify-content: center;
}

.imgExperiences{
  position: absolute;
  left: 0;
  top: 0;
}

.divContentExperiences{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.divExperience{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.divRectangle{
  width: 12px;
  height: auto;
  background-color: #FC7C7C;
  border-radius: 50px;
}

.divHeadExperience{
  font-size: 1.4em;
  font-weight: bolder;
  font-family: 'Fredoka';
  color: #FC7C7C;
}

.divLblExperience{
  font-size: 1.9em;
  font-weight: bold;
  font-family: 'Fredoka';
  color: #fff;
}

.divContentGratifications{
  /* border: solid 2px yellow; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: fit-content;
  height: 90%;
  align-items: center;
  align-content: center;
  gap: 1.5rem;
}

.divGratification{
  position: relative;

  /* border: solid 2px red; */

  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;

  background-color: #404040; 
  border-style: ridge;
  border-width: 1px;
  border-color: #404040;
  color: #FC7C7C;
  transition: 0.6s;
  border-radius: 10px;
  box-shadow: 2px 5px 5px #404040;

  padding: 35px 40px 30px 40px;
  transition: .5s;
}

.divGratification:hover{
  background-color: #FC7C7C; 
  border-color: #FC7C7C;
  border-width: 1px;
  border-style: ridge;
  scale: 1.08;
}

.divGratification-change{
  background-color: #fff; 
  border-color: #fff;
}

.divGratification-change:hover{
  background-color: #FC7C7C; 
  border-color: #FC7C7C;
}

.imgGratification{
  position: absolute;
  left: 0;
  top: 0;
}

.divGratification > a > .tags {
  position: absolute;
  display: flex;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
}

.divGratification > a > .tags > .tag {
  font-size: 0.9em;
  background: rgba(255,255,255,0.5);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.2em;
  line-height: 1.5em;
  font-family: 'Fredoka', sans-serif;
  color: #404040;
  font-weight: bold;
  transition: .5s;
}

.divGratification > a > .tags > .tag-change {
  background: rgba(64,64,64,0.5);
  color: #fff;
}

.divGratificationButtons{
  display:flex;
  flex-direction: column;
  align-content: space-around;
  gap: 20px;
  justify-content: center;
  width: fit-content;
  height: fit-content;
}

.detailGratificationButton > a{
  display: flex;
  flex-direction: row;
  background-color: #FC7C7C;
  border-radius: 30px;
  transition: .5s;
}

.detailGratificationButton{
  display: flex;
  flex-direction: column;
  background-color: #FC7C7C;
  border-radius: 30px;
  transition: .5s;
  padding: 10px 10px 10px 10px;
} 

.detailGratificationButton:hover{
  scale: 1.05;
}

.detailGratHeader{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.detailGratButtonTitleDesc{
  font-size: 3vw;
  font-weight: bold;
  margin: auto;
  margin-left: 30%;
}

.detailGratButtonTitle{
  font-size: 3vw;
  font-weight: bold;
  margin: auto;
  margin-right: calc(50% - 100px );
}

.detailGratButtonP{
  text-align: center;
  font-size: 1.4vw;
  color: #fff;
}
